@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
/* font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Gothic Coding', monospace; */


* {
	font-family: 'Nanum Gothic', sans-serif;
	/* font-family: -apple-system, BlinkMacSystemFont, sans-serif; */
	font-size: 20px;
}
html{
	background: #eee;
}
body {
	max-width: 700px;
	margin: 0 auto;
	padding: 1rem;
}

h1,
h3 {
	font-weight: normal;
	text-align: center;
	font-size: 2rem;

}

h3 {
	font-size: 0.7rem;
	margin: 0;
	margin-top: 2rem;
	margin-bottom: 0.3rem;
	font-weight: bold;
}

[placeholder] {
	text-transform: uppercase;
	border: none;
	width: 100%;
	text-align: center;
	background: transparent;
}
[placeholder]:empty:before {
    content: attr(placeholder);
    color: #ccc; 
}


input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

#licence {
	display: flex;
	justify-content: space-between;
	/* background-color: #f7f7f7; */
	border: 2px solid black;
	border-radius: 5px;
	background: white;
	/* margin: 1rem; */
}
#cities{width: 1.8em;}
#letters{width: 1.3em;}
#numbers{width: 2.2em;}
/* input{background: red !important} */
#licence * {
	font-family: 'Nanum Gothic Coding', monospace;
	font-weight: bold;
	font-size: 2rem;
	padding: 0px;
}
#cc{
	color: white;
	background: blue;
	padding: 5px 20px;
}
i {
	color: silver;
	padding: 5px 0 !important;
	/* font-weight: bold; */
}
/* input{background: silver} */
#duration {
	display: flex;
	/* margin: 1rem; */
	justify-content: space-between;
	/* border: 2px solid black; */
	border-radius: 5px;
	background: white;
	/* background: skyblue; */

	/* opacity: 0.7; */
	padding: 5px;
}

#duration>div {
	text-align: center;
	vertical-align: middle;
}
#duration>img{
	/* opacity: 0.8; */
}
#duration * {
	font-size: 1.3rem;
}

#parkEnd,
#parkPrice {
	font-weight: bold;
}

/* apple-pay-button {
	-webkit-appearance: -apple-pay-button;
	--apple-pay-button-width: 150px;
	--apple-pay-button-height: 30px;
	--apple-pay-button-border-radius: 3px;
	--apple-pay-button-padding: 0px 0px;
	--apple-pay-button-box-sizing: border-box;
} */

#applePay {
	height: 2.5rem;
	/* height: 3rem; */
	width: 100%;
	/* max-width: 750px; */
	display: block;
	margin: 1rem auto;
	-webkit-appearance: -apple-pay-button;
	/* --apple-pay-button-background: #777; */
	/* opacity: 0.9; */
	/* -apple-pay-button-type: buy; */
}


#googlePay {
	width: 100%;
	height: 2.5rem;
	margin: 1rem auto;
	/* opacity: 0.9; */
}

#summary {
	text-align: center;
	/* background: skyblue; */
	background: white;

	border-radius: 5px;
	padding: 10px;
}

#payButtons{
	margin-top: 3rem;
}